In [50]:
from selenium import webdriver
from selenium.webdriver.support.ui import Select
from bs4 import BeautifulSoup
import csv
import pandas as pd
from skills import Skills
from pprint import pprint

PATH = "/Users/jeanie/Downloads/chromedriver"
driver = webdriver.Chrome(PATH)
url = "https://www.runeclan.com/clan/Elite_Team_Killerz/xp-tracker/1?skill=2&criteria_set1=double_xp_weekend"
driver.get(url)

bracketA = []
bracketB = []
bracketC = []
bracketD = []
total_lvls = []
usr = []

# scrape users
def scrape():
    content = driver.page_source
    soup = BeautifulSoup(content, "html.parser")
    results = soup.find_all("table", class_="regular")[1]

    for item in results.tbody.find_all("tr")[2:]:
        username = item.find_all("td", class_="clan_td clan_rsn2")
        dxp = item.find_all("td", class_="clan_td clan_xpgain_trk")
        
        if not username:
            td = soup.new_tag('td')
            td.string="None"
            username.append(td)
        if not dxp:
            td = soup.new_tag('td')
            td.string="None"
            dxp.append(td)
            
        usr.append(username[0].get_text())
        usr.append(dxp[0].get_text())

# click to the next page    
def next_page():
    link = driver.find_element_by_link_text("next Â»")
    link.click()

def make_new_gains_dict(res):
    dxp_gains = []
    index = 0
    while index < len(res):
        new_dxp_gains_dict = {'Name': res[index], 'DXP Gained': res[index+1]}
        dxp_gains.append(new_dxp_gains_dict)
        index += 2
    return dxp_gains
        
#remove commas in numbers for calculations and convert string numbers to int type
def remove_commas(list):
    index = 0
    while index < len(list):
        list[index]['Total lvl'] = int(list[index]['Total lvl'].replace(',', ''))
        index += 1
    return list

# check if results name matches clan roster then is placed to appropriate bracket based on total lvl from clan roster list
# check to see who participated in dxp
def brackets(dxp, totals):  
    for i in range(0, len(dxp)):
        for j in range(0, len(totals)):
            if dxp[i]['Name'] == totals[j]['Name']:
                if totals[j]['Total lvl'] < 2000:
                    bracketA.append(dxp[i])
                elif totals[j]['Total lvl'] >= 2000 and totals[j]['Total lvl'] < 2500:
                    bracketB.append(dxp[i])
                elif totals[j]['Total lvl'] >= 2500 and totals[j]['Total lvl'] < 2700:
                    bracketC.append(dxp[i])
                elif totals[j]['Total lvl'] >= 2700:
                    bracketD.append(dxp[i]) 

# open file of clan roster and append info to list of dicts
def read_csv():                    
    with open('total_lvls.csv', newline='', encoding='utf-8-sig') as csvfile:
        reader = csv.DictReader(csvfile)
        for row in reader:
            total_lvls.append(dict(row))
 
read_csv()       
scrape()
next_page()
scrape()
res = [ele for ele in usr if ele != 'None'] 
dxp_gains = make_new_gains_dict(res)
totals = remove_commas(total_lvls)
brackets(dxp_gains, totals)

pprint(bracketA)
pprint(bracketB)
pprint(bracketC)
pprint(bracketD)
               
# bracket data as dataframes for better viewing                
bracketA_data = pd.DataFrame.from_dict(bracketA, orient='columns')
bracketB_data = pd.DataFrame.from_dict(bracketB, orient='columns')
bracketC_data = pd.DataFrame.from_dict(bracketC, orient='columns')
bracketD_data = pd.DataFrame.from_dict(bracketD, orient='columns')  
driver.quit()

[{'DXP Gained': '16,378,274', 'Name': 'ETK Lykos'},
 {'DXP Gained': '1,152,719', 'Name': 'Alex_853'},
 {'DXP Gained': '150', 'Name': 'HCFireboy509'},
 {'DXP Gained': '0', 'Name': 'ETK marshall'}]
[{'DXP Gained': '77,278,617', 'Name': 'Sheilen'},
 {'DXP Gained': '73,273,535', 'Name': 'Aczinor9'},
 {'DXP Gained': '18,628,314', 'Name': 'HisKageness'},
 {'DXP Gained': '15,271,301', 'Name': 'Gunmaster422'},
 {'DXP Gained': '10,729,125', 'Name': 'ETK Brisingr'},
 {'DXP Gained': '10,043,596', 'Name': 'Daretoachv'},
 {'DXP Gained': '8,841,751', 'Name': 'ETK Onyx'},
 {'DXP Gained': '8,328,116', 'Name': 'Lilo Kuo'},
 {'DXP Gained': '7,590,370', 'Name': 'Walrus Gang'},
 {'DXP Gained': '7,444,024', 'Name': 'Seshomarou'},
 {'DXP Gained': '5,060,114', 'Name': 'Zorrezias'},
 {'DXP Gained': '2,129,908', 'Name': 'Take Fight'},
 {'DXP Gained': '1,993,086', 'Name': 'Combustive'},
 {'DXP Gained': '253,039', 'Name': 'Kairomitsu'},
 {'DXP Gained': '33,659', 'Name': 'Sammie2532'}]
[{'DXP Gained': '64,886,135', 'Name': 'Garh22'},
 {'DXP Gained': '50,510,735', 'Name': 'CorruptVicar'},
 {'DXP Gained': '43,595,211', 'Name': 'wahtdaef'},
 {'DXP Gained': '24,743,228', 'Name': 'LethalSeraph'},
 {'DXP Gained': '23,589,710', 'Name': 'Alhifar'},
 {'DXP Gained': '14,737,059', 'Name': 'Austiin'},
 {'DXP Gained': '14,301,722', 'Name': 'Crideceon'},
 {'DXP Gained': '11,596,414', 'Name': 'N E R V'},
 {'DXP Gained': '11,024,641', 'Name': 'Ben7196'},
 {'DXP Gained': '9,965,325', 'Name': 'Foreverr420'},
 {'DXP Gained': '2,469,653', 'Name': 'EazyUK'},
 {'DXP Gained': '1,652,286', 'Name': 'Vivia'}]
[{'DXP Gained': '153,700,127', 'Name': 'Trimmed'},
 {'DXP Gained': '100,741,121', 'Name': 'M ichael'},
 {'DXP Gained': '79,494,526', 'Name': 'Cerene'},
 {'DXP Gained': '54,460,641', 'Name': 'Icekro'},
 {'DXP Gained': '48,512,062', 'Name': 'Deathmall'},
 {'DXP Gained': '44,469,746', 'Name': 'Hera Selene'},
 {'DXP Gained': '42,081,579', 'Name': 'FrogHam'},
 {'DXP Gained': '41,341,913', 'Name': 'Sheivot'},
 {'DXP Gained': '40,863,415', 'Name': 'Madhura01'},
 {'DXP Gained': '40,683,897', 'Name': 'IceKrystalx'},
 {'DXP Gained': '29,869,421', 'Name': 'gision'},
 {'DXP Gained': '25,053,354', 'Name': 'jothela'},
 {'DXP Gained': '22,009,690', 'Name': 'Mechchaser0'},
 {'DXP Gained': '19,668,215', 'Name': 'Sticky Pears'},
 {'DXP Gained': '15,382,448', 'Name': 'Fireboy509'},
 {'DXP Gained': '14,307,312', 'Name': 'Drizzt Wrath'},
 {'DXP Gained': '11,531,984', 'Name': 'Love-N-Greed'},
 {'DXP Gained': '8,045,345', 'Name': 'X1 Noodle'},
 {'DXP Gained': '6,302,676', 'Name': 'Mitsyangel'},
 {'DXP Gained': '4,632,161', 'Name': 'MyFinestDays'},
 {'DXP Gained': '4,332,329', 'Name': 'Kami Samah'},
 {'DXP Gained': '3,389,583', 'Name': 'SirWicked'},
 {'DXP Gained': '1,276,256', 'Name': 'MaleficentMe'},
 {'DXP Gained': '950,380', 'Name': 'ETKshinocksa'},
 {'DXP Gained': '564,934', 'Name': 'Raime'}]

In [51]:
bracketA_data['Rank'] = range(1, len(bracketA_data) + 1)
bracketA_data = bracketA_data[list(('Rank', 'Name', 'DXP Gained'))]
bracketA_data

   Rank          Name  DXP Gained
0     1     ETK Lykos  16,378,274
1     2      Alex_853   1,152,719
2     3  HCFireboy509         150
3     4  ETK marshall           0

In [52]:
bracketB_data['Rank'] = range(1, len(bracketB_data) + 1)
bracketB_data = bracketB_data[list(('Rank', 'Name', 'DXP Gained'))]
bracketB_data

    Rank          Name  DXP Gained
0      1       Sheilen  77,278,617
1      2      Aczinor9  73,273,535
2      3   HisKageness  18,628,314
3      4  Gunmaster422  15,271,301
4      5  ETK Brisingr  10,729,125
5      6    Daretoachv  10,043,596
6      7      ETK Onyx   8,841,751
7      8      Lilo Kuo   8,328,116
8      9   Walrus Gang   7,590,370
9     10    Seshomarou   7,444,024
10    11     Zorrezias   5,060,114
11    12    Take Fight   2,129,908
12    13    Combustive   1,993,086
13    14    Kairomitsu     253,039
14    15    Sammie2532      33,659

In [53]:
bracketC_data['Rank'] = range(1, len(bracketC_data) + 1)
bracketC_data = bracketC_data[list(('Rank', 'Name', 'DXP Gained'))]
bracketC_data

    Rank          Name  DXP Gained
0      1        Garh22  64,886,135
1      2  CorruptVicar  50,510,735
2      3      wahtdaef  43,595,211
3      4  LethalSeraph  24,743,228
4      5       Alhifar  23,589,710
5      6       Austiin  14,737,059
6      7     Crideceon  14,301,722
7      8       N E R V  11,596,414
8      9       Ben7196  11,024,641
9     10   Foreverr420   9,965,325
10    11        EazyUK   2,469,653
11    12         Vivia   1,652,286

In [54]:
bracketD_data['Rank'] = range(1, len(bracketD_data) + 1)
bracketD_data = bracketD_data[list(('Rank', 'Name', 'DXP Gained'))]
bracketD_data

    Rank          Name   DXP Gained
0      1       Trimmed  153,700,127
1      2      M ichael  100,741,121
2      3        Cerene   79,494,526
3      4        Icekro   54,460,641
4      5     Deathmall   48,512,062
5      6   Hera Selene   44,469,746
6      7       FrogHam   42,081,579
7      8       Sheivot   41,341,913
8      9     Madhura01   40,863,415
9     10   IceKrystalx   40,683,897
10    11        gision   29,869,421
11    12       jothela   25,053,354
12    13   Mechchaser0   22,009,690
13    14  Sticky Pears   19,668,215
14    15    Fireboy509   15,382,448
15    16  Drizzt Wrath   14,307,312
16    17  Love-N-Greed   11,531,984
17    18     X1 Noodle    8,045,345
18    19    Mitsyangel    6,302,676
19    20  MyFinestDays    4,632,161
20    21    Kami Samah    4,332,329
21    22     SirWicked    3,389,583
22    23  MaleficentMe    1,276,256
23    24  ETKshinocksa      950,380
24    25         Raime      564,934