In [11]:
import csv
import pandas as pd

CSV1 = 'clanmate_data1_11_05_2022.csv'
CSV2 = 'clanmate_data1_11_06_2022.csv'

In [12]:
file1_df = pd.read_csv(CSV1)
file2_df = pd.read_csv(CSV2)

file1_df

,Unnamed: 0,Name,Total Lvl,Attack,Defense,Strength,Constitution,Ranged,Prayer,Magic,...,Slayer,Farming,Runecrafting,Hunter,Construction,Summoning,Dungeoneering,Divination,Invention,Archaeology
0,0,IceKrystalx,2898,70988495,105406371,16888534,113959961,43844045,16749542,123513393,...,128048966,114533919,13653489,14233229,15362120,19289542,200000000,14287646,93374535,116303164
1,1,ETK Br34an,2725,17791745,32068965,18177707,70236076,28631218,15743465,120894853,...,17582164,5491479,5920346,5460433,8050999,13803074,65796487,6130131,50042469,2152336
2,2,Icekro,2898,63240230,145587177,13968107,153104628,146716074,15683387,104443074,...,109103058,127113144,13649799,13508928,14316098,14733993,109280555,14272463,169190602,105428290
3,3,eMaG dNiM,2860,37023271,37006317,37524236,42255575,15960244,112373732,16138898,...,104358861,79779091,15331301,14232224,104556741,16758146,104455295,14612015,67571179,16683195
4,4,eMaG NoRi,2548,6013384,13057485,6011837,14917947,5461362,14268055,15421565,...,3938936,5039277,2124046,4948749,6472044,5610773,5503363,13298374,26225288,4772494
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,114,X1 Noodle Jr,1308,1926667,708063,557706,1376675,468277,274640,1148544,...,512741,4209368,287718,9194373,3609109,340753,2963784,120726,0,0
115,115,frostyblue7,962,2454893,2231357,1651132,2315708,319123,473019,700202,...,1552,3348,432939,3880,3880,3880,1306722,3880,0,0
116,116,Joaqoon,121,14359,16061,7402,18204,1455,5455,1325,...,1738,10,0,0,0,0,0,0,0,0
117,117,iVodkai,1954,2420745,2949521,5276117,3625459,3925751,1516624,2930132,...,401227,304962,2306974,854977,800303,402943,402653,360746,0,7912
118,118,Gravefish980,1344,43437,61602,40074,50106,23125,106607,61029,...,26034,1216336,928569,138949,317212,2865,2416,618898,0,378834

In [13]:
df3 = file2_df[file2_df.columns[3:]] - file1_df[file1_df.columns[3:]]
df3['Name'] = file2_df['Name']
df3['Total Lvl'] = file2_df['Total Lvl']
cols = list(df3.columns.values) 
df3 = df3[[cols[-2]] + [cols[-1]] + cols[0:28]]
df3

,Name,Total Lvl,Attack,Defense,Strength,Constitution,Ranged,Prayer,Magic,Cooking,...,Slayer,Farming,Runecrafting,Hunter,Construction,Summoning,Dungeoneering,Divination,Invention,Archaeology
0,IceKrystalx,2898,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ETK Br34an,2725,0,0,0,0,0,0,0,0,...,0,0,14124,0,0,0,0,0,0,0
2,Icekro,2898,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,eMaG dNiM,2860,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,eMaG NoRi,2549,0,0,0,0,0,0,0,0,...,0,108520,0,0,0,0,0,20116,7483,372185
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,X1 Noodle Jr,1308,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
115,frostyblue7,962,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
116,Joaqoon,121,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
117,iVodkai,1954,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
118,Gravefish980,1344,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
halved_skills = [
    'Attack',
    'Defense',
    'Strength',
    'Constitution',
    'Ranged',
    'Magic',
    'Summoning',
    'Herblore',
    'Farming',
    'Invention',
    'Archaeology',
    'Dungeoneering'
]

normal_skills = [
    'Fletching',
    'Crafting',
    'Thieving'
]

doubled_skills = [
    'Hunter',
    'Smithing',
    'Firemaking',
    'Prayer',
    'Cooking',
    'Slayer',
    'Construction'
]

tripled_skills = [
    'Agility',
    'Divination',
    'Fishing',
    'Woodcutting',
    'Mining',
    'Runecrafting'
]
calculated_data = {}
for halved in halved_skills:
    calculated_data[halved] = df3[halved] * 0.5
    
for normal in normal_skills:
    calculated_data[normal] = df3[normal] * 1

for doubled in doubled_skills:
    calculated_data[doubled] = df3[doubled] * 2

for tripled in tripled_skills:
    calculated_data[tripled] = df3[tripled] * 3

calculated_df = pd.DataFrame(data=calculated_data)
calculated_df['Name'] = df3['Name']
calculated_df['Total Lvl'] = df3['Total Lvl']
calculated_df['Total'] = calculated_df.loc[:, 'Attack':'Runecrafting'].sum(axis=1)
cols = list(calculated_df.columns.values) 
calculated_df = calculated_df[[cols[-3]] + [cols[-2]] + [cols[-1]] + cols[0:28]]

calculated_df

,Name,Total Lvl,Total,Attack,Defense,Strength,Constitution,Ranged,Magic,Summoning,...,Prayer,Cooking,Slayer,Construction,Agility,Divination,Fishing,Woodcutting,Mining,Runecrafting
0,IceKrystalx,2898,164174.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,38313,0
1,ETK Br34an,2725,42372.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,42372
2,Icekro,2898,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,eMaG dNiM,2860,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,eMaG NoRi,2549,304580.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,60348,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,X1 Noodle Jr,1308,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
115,frostyblue7,962,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
116,Joaqoon,121,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
117,iVodkai,1954,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
118,Gravefish980,1344,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [36]:
calculated_df.loc[(calculated_df['Total Lvl'] >= 2851)].sort_values('Total', ascending=False)
# filt

# df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison')]

,Name,Total Lvl,Total,Attack,Defense,Strength,Constitution,Ranged,Magic,Summoning,...,Prayer,Cooking,Slayer,Construction,Agility,Divination,Fishing,Woodcutting,Mining,Runecrafting
0,IceKrystalx,2898,164174.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,38313,0
16,Mechchaser0,2869,84848.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,77348,0,0,0,0,0,0,0
25,Raime,2873,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
63,gision,2879,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
62,jothela,2898,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
52,Clifloku,2859,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
34,Glacyte,2878,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
32,Sticky Pears,2898,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
29,Fireboy509,2890,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
27,MyFinestDays,2898,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
24,Iv99roidmage,2886,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,Icekro,2898,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
20,Trimmed,2898,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
17,Cerene,2869,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
15,Aczinor9,2879,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
14,Hera Selene,2863,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
13,Sheivot,2891,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
7,Drizzt Wrath,2887,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,eMaG dNiM,2860,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
68,X1 Noodle,2858,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
my_data = {'Sr.no': [1, 2, 3, 4, 5],
           'Name': ['Ram', 'Sham', 'Sonu',
                    'Tinu', 'Monu'],
           'Maths Score': [45, 67, 89, 74, 56]}
df_dummy = pd.DataFrame(data = my_data)
df_dummy

   Sr.no  Name  Maths Score
0      1   Ram           45
1      2  Sham           67
2      3  Sonu           89
3      4  Tinu           74
4      5  Monu           56

In [16]:
df_dummy['new score'] = df_dummy['Maths Score']*0.5
df_dummy['new score 2'] = (df_dummy['Maths Score'] + df_dummy['new score']) * 2
df_dummy

   Sr.no  Name  Maths Score  new score  new score 2
0      1   Ram           45       22.5        135.0
1      2  Sham           67       33.5        201.0
2      3  Sonu           89       44.5        267.0
3      4  Tinu           74       37.0        222.0
4      5  Monu           56       28.0        168.0