In [91]:
import csv
import pandas as pd
from datetime import datetime

CSV1 = 'clanmate_data_11_11_2022.csv'
CSV2 = 'clanmate_data_12_12_2022.csv'

In [92]:
file1_df = pd.read_csv(CSV1)
file2_df = pd.read_csv(CSV2)

file1_df

,Unnamed: 0,Name,Total Lvl,Attack,Defense,Strength,Constitution,Ranged,Prayer,Magic,...,Slayer,Farming,Runecrafting,Hunter,Construction,Summoning,Dungeoneering,Divination,Invention,Archaeology
0,0,IceKrystalx,2898,70988495,105406371,16888534,113959961,43844045,16749542,123513393,...,128048966,114533919,13653489,14233229,15362120,19289542,200000000,14287646,93374535,116303164
1,1,ETK Br34an,2725,17791745,32068965,18177707,70236076,28631218,15743465,120894853,...,17582164,5491479,5934470,5460433,8050999,13803074,65796487,6130131,50042469,2152336
2,2,Icekro,2898,63240230,145587177,13968107,153104628,146716074,15683387,104443074,...,109103058,127113144,13649799,13508928,14316098,14733993,109280555,14272463,169190602,105428290
3,3,eMaG dNiM,2860,37023271,37006317,37524236,42255575,15960244,112373732,16138898,...,104358861,79779091,15331301,14232224,104556741,16758146,104455295,14612015,67571179,16683195
4,4,eMaG NoRi,2558,6013384,13057485,6011837,14979676,5461362,14268055,15611212,...,4040564,5656383,2209778,5005451,6481144,5610795,5503363,13350194,26854589,6883316
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,77,Hayki,2801,104463261,105660954,48246731,164562482,137353880,19477265,106460018,...,77089084,20652611,25447118,15375191,15468539,15495692,110113744,17868000,131468504,223295
78,78,Buying IRLGF,2485,13595932,13268255,13573305,13833247,13267138,105232878,13071459,...,2316618,1443626,13116346,2302601,7434584,14311540,8038880,3519772,12504662,15623
79,79,Jalopi34,1102,173977,213013,142778,187918,79654,16810,101600,...,10921,6203,10066,11039,12418,3688,12566,41155,0,2960
80,80,iVodkai,1954,2420745,2949521,5276117,3625459,3925751,1516624,2930132,...,401227,304962,2306974,854977,800303,402943,402653,360746,0,7912
81,81,Gravefish980,1344,43437,61602,40074,50106,23125,106607,61029,...,26034,1216336,928569,138949,317212,2865,2416,618898,0,378834

In [93]:
arr1 = []
arr2 = []

with open(CSV1, newline='', encoding='utf-8-sig') as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
        arr1.append(dict(row))

with open(CSV2, newline='', encoding='utf-8-sig') as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
        arr2.append(dict(row))

df4 = pd.DataFrame()
for i in range(0, len(arr1)):
    for j in range(0, len(arr2)):
        if(arr1[i]['Name'] == arr2[j]['Name']):
            df1 = pd.DataFrame([arr1[i]])
            df2 = pd.DataFrame([arr2[j]])
            df1[df1.columns[2:]] = df1[df1.columns[2:]].astype(int)
            df2[df2.columns[2:]] = df2[df2.columns[2:]].astype(int)
            df3 = df2[df2.columns[3:]] - df1[df1.columns[3:]]
            df3['Name'] = df1['Name']
            df3['Total Lvl'] = df1['Total Lvl']
            cols = list(df3.columns.values) 
            df3 = df3[[cols[-2]] + [cols[-1]] + cols[0:28]]
            df4 = pd.concat([df4,df3])

df4

,Name,Total Lvl,Attack,Defense,Strength,Constitution,Ranged,Prayer,Magic,Cooking,...,Slayer,Farming,Runecrafting,Hunter,Construction,Summoning,Dungeoneering,Divination,Invention,Archaeology
0,IceKrystalx,2898,846086,846087,846086,1104166,473570,56559,338277,55889,...,1862752,355623,0,0,0,2009,0,0,0,0
0,ETK Br34an,2725,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0,Icekro,2898,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0,eMaG dNiM,2860,0,0,0,0,0,0,36,0,...,0,0,0,0,0,0,0,0,0,37277
0,eMaG NoRi,2558,835970,22112,1107503,2083723,1103598,688402,3902304,767386,...,2823842,3671223,488696,732619,162336,636737,131690,347599,12144742,10813916
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,Hayki,2801,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0,Buying IRLGF,2485,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0,Jalopi34,1102,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0,iVodkai,1954,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0,Gravefish980,1344,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [94]:
halved_skills = [
    'Attack',
    'Defense',
    'Strength',
    'Constitution',
    'Ranged',
    'Magic',
    'Summoning',
    'Herblore',
    'Farming',
    'Invention',
    'Archaeology',
    'Dungeoneering'
]

normal_skills = [
    'Fletching',
    'Crafting',
    'Thieving'
]

doubled_skills = [
    'Hunter',
    'Smithing',
    'Firemaking',
    'Prayer',
    'Cooking',
    'Slayer',
    'Construction'
]

tripled_skills = [
    'Agility',
    'Divination',
    'Fishing',
    'Woodcutting',
    'Mining',
    'Runecrafting'
]
calculated_data = {}
for halved in halved_skills:
    calculated_data[halved] = df4[halved] * 0.5
    
for normal in normal_skills:
    calculated_data[normal] = df4[normal] * 1

for doubled in doubled_skills:
    calculated_data[doubled] = df4[doubled] * 2

for tripled in tripled_skills:
    calculated_data[tripled] = df4[tripled] * 3

calculated_df = pd.DataFrame(data=calculated_data)
calculated_df['Name'] = df4['Name']
calculated_df['Total Lvl'] = df4['Total Lvl']
calculated_df['DXP Gained'] = calculated_df.loc[:, 'Attack':'Runecrafting'].sum(axis=1)
cols = list(calculated_df.columns.values) 
calculated_df = calculated_df[[cols[-3]] + [cols[-1]] + [cols[-2]] + cols[0:28]]

calculated_df

,Name,DXP Gained,Total Lvl,Attack,Defense,Strength,Constitution,Ranged,Magic,Summoning,...,Prayer,Cooking,Slayer,Construction,Agility,Divination,Fishing,Woodcutting,Mining,Runecrafting
0,IceKrystalx,9254719.5,2898,423043.0,423043.5,423043.0,552083.0,236785.0,169138.5,1004.5,...,113118,111778,3725504,0,327693,0,1253880,0,97716,0
0,ETK Br34an,0.0,2725,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
0,Icekro,0.0,2898,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
0,eMaG dNiM,13758375.0,2860,0.0,0.0,0.0,0.0,0.0,18.0,0.0,...,0,0,0,0,0,0,0,0,0,0
0,eMaG NoRi,46815282.0,2558,417985.0,11056.0,553751.5,1041861.5,551799.0,1951152.0,318368.5,...,1376804,1534772,5647684,324672,968883,1042797,1722858,1273602,3087495,1466088
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,Hayki,0.0,2801,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
0,Buying IRLGF,0.0,2485,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
0,Jalopi34,0.0,1102,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
0,iVodkai,0.0,1954,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
0,Gravefish980,0.0,1344,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [95]:
bracketG_data = calculated_df.loc[(calculated_df['Total Lvl'] >= 2851)].sort_values('DXP Gained', ascending=False)
bracketG_data['Rank'] = range(1, len(bracketG_data) + 1)
first_column = bracketG_data.pop('Rank')
# bracketG_data[['Rank', 'Name', 'DXP Gained']].loc[bracketG_data['DXP Gained'] > 0]
bracketG_data.insert(0, 'Rank', first_column)
bracketG_data

,Rank,Name,DXP Gained,Total Lvl,Attack,Defense,Strength,Constitution,Ranged,Magic,...,Prayer,Cooking,Slayer,Construction,Agility,Divination,Fishing,Woodcutting,Mining,Runecrafting
0,1,Aczinor9,78333012.5,2880,636768.0,8064363.0,170983.0,3783388.0,0.0,3072935.5,...,293762,82824,47988066,157642,231456,790389,51816,1126878,1621563,196728
0,2,Drizzt Wrath,35211455.0,2887,3235200.5,0.0,0.0,0.0,7652306.0,12928195.5,...,134752,30000,0,50000,72,602760,1253880,560868,0,0
0,3,Fireboy509,15622666.5,2890,0.0,0.0,4372.0,1440.0,0.0,494.5,...,180592,0,200590,4103682,4990224,0,1253880,0,239460,4947
0,4,Glacyte,14762788.5,2878,0.0,0.0,0.0,0.0,0.0,0.0,...,596,0,0,0,0,4113,0,0,0,0
0,5,eMaG dNiM,13758375.0,2860,0.0,0.0,0.0,0.0,0.0,18.0,...,0,0,0,0,0,0,0,0,0,0
0,6,Raime,9965920.5,2873,0.0,0.0,4659167.5,1530759.0,0.0,0.0,...,826410,0,19642,0,0,13593,0,294315,0,0
0,7,IceKrystalx,9254719.5,2898,423043.0,423043.5,423043.0,552083.0,236785.0,169138.5,...,113118,111778,3725504,0,327693,0,1253880,0,97716,0
0,8,Mechchaser0,6464030.0,2869,0.0,0.0,0.0,0.0,0.0,795.0,...,0,141954,0,0,331704,0,0,0,361338,0
0,9,Iv99roidmage,939895.0,2886,3484.0,0.0,0.0,145375.5,6923.0,0.0,...,0,0,0,0,0,0,78876,0,0,0
0,10,MyFinestDays,0.0,2898,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
0,11,Clifloku,0.0,2859,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
0,12,Sticky Pears,0.0,2898,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
0,13,Trimmed,0.0,2898,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
0,14,Icekro,0.0,2898,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
0,15,Cerene,0.0,2869,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
0,16,Hera Selene,0.0,2863,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
0,17,Sheivot,0.0,2891,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
0,18,X1 Noodle,0.0,2858,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [96]:
bracketA_data = calculated_df.loc[(calculated_df['Total Lvl'] <= 2000)].sort_values('DXP Gained', ascending=False)
bracketA_data['Rank'] = range(1, len(bracketA_data) + 1)

# bracketA_data[['Rank', 'Name', 'DXP Gained']].loc[bracketA_data['DXP Gained'] > 0]
first_column = bracketA_data.pop('Rank')
bracketA_data.insert(0, 'Rank', first_column)
bracketA_data

,Rank,Name,DXP Gained,Total Lvl,Attack,Defense,Strength,Constitution,Ranged,Magic,...,Prayer,Cooking,Slayer,Construction,Agility,Divination,Fishing,Woodcutting,Mining,Runecrafting
0,1,HCIMBane,26119.5,908,0.0,0.0,0.0,810.0,0.0,2456.5,...,0,0,8366,0,0,0,0,11340,3147,0
0,2,ETK Ellie,0.0,928,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
0,3,Titanz Fall,0.0,1986,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
0,4,Qlydde,0.0,99,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
0,5,JennaTalia9,0.0,409,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
0,6,Jalopi34,0.0,1102,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
0,7,iVodkai,0.0,1954,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
0,8,Gravefish980,0.0,1344,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [97]:
bracketB_data = calculated_df.loc[(calculated_df['Total Lvl'] >= 2001) & (calculated_df['Total Lvl'] <= 2300)].sort_values('DXP Gained', ascending=False)
bracketB_data['Rank'] = range(1, len(bracketB_data) + 1)

# bracketB_data[['Rank', 'Name', 'DXP Gained']].loc[bracketB_data['DXP Gained'] > 0]
first_column = bracketB_data.pop('Rank')
bracketB_data.insert(0, 'Rank', first_column)
bracketB_data

,Rank,Name,DXP Gained,Total Lvl,Attack,Defense,Strength,Constitution,Ranged,Magic,...,Prayer,Cooking,Slayer,Construction,Agility,Divination,Fishing,Woodcutting,Mining,Runecrafting
0,1,Alex_853,200003.0,2056,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,12867,0,0,23592,0,0
0,2,Mr Kumlin,120258.0,2289,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,120258,0,0,0
0,3,CreatureSoul,75.0,2236,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,75,0,0
0,4,Mail Call,0.0,2273,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
0,5,G0DWAR,0.0,2283,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
0,6,Sammie2532,0.0,2296,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [98]:
bracketC_data = calculated_df.loc[(calculated_df['Total Lvl'] >= 2301) & (calculated_df['Total Lvl'] <= 2600)].sort_values('DXP Gained', ascending=False)
bracketC_data['Rank'] = range(1, len(bracketC_data) + 1)

# bracketC_data[['Rank', 'Name', 'DXP Gained']].loc[bracketC_data['DXP Gained'] > 0]
first_column = bracketC_data.pop('Rank')
bracketC_data.insert(0, 'Rank', first_column)
bracketC_data

,Rank,Name,DXP Gained,Total Lvl,Attack,Defense,Strength,Constitution,Ranged,Magic,...,Prayer,Cooking,Slayer,Construction,Agility,Divination,Fishing,Woodcutting,Mining,Runecrafting
0,1,Brazinx69,100068330.0,2512,338731.0,85349.0,3384.0,418311.0,466159.5,439335.0,...,178672,2196090,3792066,1600426,30016443,1222179,24502215,511929,1908048,672507
0,2,eMaG NoRi,46815282.0,2558,417985.0,11056.0,553751.5,1041861.5,551799.0,1951152.0,...,1376804,1534772,5647684,324672,968883,1042797,1722858,1273602,3087495,1466088
0,3,Lord Mager,41323172.5,2512,744158.5,0.0,979631.5,612692.5,54721.0,99702.0,...,0,467944,1199238,1652384,229515,866136,486195,3326211,609939,383658
0,4,D Wrath Jr,27802008.0,2381,17082.5,0.0,0.0,98912.0,470866.5,6187.5,...,258884,304956,6675184,917764,1521774,143904,3786828,983340,1010751,170778
0,5,MiniCraz,16077920.0,2470,0.0,233151.0,48151.5,169758.5,0.0,234731.0,...,8,0,0,0,220911,5403783,0,0,789387,0
0,6,Seshomarou,15021507.0,2534,37462.0,948432.5,37462.5,395536.5,404.0,175970.0,...,13610,1890726,2310810,0,300309,340848,13869,129933,512685,0
0,7,ETK Brisingr,2085827.0,2421,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,1363047,0,0,25146,296226,0
0,8,cerene1,301750.0,2496,0.0,82143.0,0.0,27096.0,0.0,0.0,...,1836,0,152184,0,0,23574,0,0,0,0
0,9,PandaDudes,233942.0,2327,0.0,0.0,0.0,0.0,0.0,0.0,...,233942,0,0,0,0,0,0,0,0,0
0,10,Vivia,0.0,2578,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
0,11,Combustive,0.0,2465,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
0,12,Bumo,0.0,2539,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
0,13,Zorrezias,0.0,2415,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
0,14,Shinocksa50,0.0,2310,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
0,15,Buying IRLGF,0.0,2485,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [99]:
bracketD_data = calculated_df.loc[(calculated_df['Total Lvl'] >= 2601) & (calculated_df['Total Lvl'] <= 2700)].sort_values('DXP Gained', ascending=False)
bracketD_data['Rank'] = range(1, len(bracketD_data) + 1)

# bracketD_data[['Rank', 'Name', 'DXP Gained']].loc[bracketD_data['DXP Gained'] > 0]
first_column = bracketD_data.pop('Rank')
bracketD_data.insert(0, 'Rank', first_column)
bracketD_data

,Rank,Name,DXP Gained,Total Lvl,Attack,Defense,Strength,Constitution,Ranged,Magic,...,Prayer,Cooking,Slayer,Construction,Agility,Divination,Fishing,Woodcutting,Mining,Runecrafting
0,1,SkillerJay03,51518000.5,2675,0.0,1329428.0,126.0,462170.0,164115.0,193065.0,...,7386608,310206,0,120000,580359,5713164,5724831,2212104,1223217,10663071
0,2,Gunmaster422,22020927.0,2674,0.0,0.0,0.0,0.0,0.0,11860.0,...,202760,0,5563460,81140,209019,0,5846241,278430,930291,0
0,3,ETK Onyx,3689290.0,2656,0.0,0.0,0.0,0.0,0.0,373787.0,...,0,0,0,0,0,0,0,0,0,1875486
0,4,Austiin,0.0,2645,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
0,5,Andalusia,0.0,2605,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
0,6,AshNicTay,0.0,2634,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
0,7,SteakAndEggs,0.0,2691,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
0,8,Ben7196,0.0,2628,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [100]:
bracketE_data = calculated_df.loc[(calculated_df['Total Lvl'] >= 2701) & (calculated_df['Total Lvl'] <= 2800)].sort_values('DXP Gained', ascending=False)
bracketE_data['Rank'] = range(1, len(bracketE_data) + 1)

# bracketE_data[['Rank', 'Name', 'DXP Gained']].loc[bracketE_data['DXP Gained'] > 0]
first_column = bracketE_data.pop('Rank')
bracketE_data.insert(0, 'Rank', first_column)
bracketE_data

,Rank,Name,DXP Gained,Total Lvl,Attack,Defense,Strength,Constitution,Ranged,Magic,...,Prayer,Cooking,Slayer,Construction,Agility,Divination,Fishing,Woodcutting,Mining,Runecrafting
0,1,SpeedRacerX1,118782948.0,2799,885353.5,4785130.0,928184.5,3518712.5,2529425.5,1539739.0,...,1140170,906856,31413198,1329476,7774287,2224767,1341327,5791320,2897181,10827276
0,2,Warnch,64514641.5,2758,1455952.0,2111953.5,1456156.0,1874311.5,673745.0,51222.0,...,6177216,451666,2025912,2423608,7749210,133428,1372557,218256,117399,916083
0,3,HisKageness,62346211.5,2724,69647.0,0.0,2331.0,16135.5,12661.5,48918.5,...,5336462,12092726,4996092,242022,60648,44631,8867592,10789605,277713,9251670
0,4,Matti K,61639288.5,2721,6578.0,170357.5,24322.0,67757.0,45575.5,47227.5,...,384776,3461038,3672982,3572394,7760292,2923032,1590465,1696479,334164,963915
0,5,EazyUK,35767610.0,2761,1000.0,1351.0,1000.0,414187.0,1254900.5,8471.0,...,642,0,1723518,7200,94398,0,1253880,0,57744,26190387
0,6,Daretoachv,28405328.5,2770,460046.0,16434.0,172119.0,104985.0,0.0,16434.0,...,0,583036,7219142,148500,1845,0,3758148,262053,405435,0
0,7,CorruptVicar,26896622.5,2800,0.0,0.0,0.0,124209.5,0.0,0.0,...,0,0,0,0,2083527,0,0,0,0,0
0,8,ETK Br34an,0.0,2725,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
0,9,Alhifar,0.0,2786,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
0,10,Iristelessa,0.0,2757,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
0,11,ETK ThotGod,0.0,2754,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
0,12,ZeroArcanist,0.0,2795,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
0,13,Lilo Kuo,0.0,2766,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [101]:
bracketF_data = calculated_df.loc[(calculated_df['Total Lvl'] >= 2801) & (calculated_df['Total Lvl'] <= 2850)].sort_values('DXP Gained', ascending=False)
bracketF_data['Rank'] = range(1, len(bracketF_data) + 1)

# bracketF_data[['Rank', 'Name', 'DXP Gained']].loc[bracketF_data['DXP Gained'] > 0]
first_column = bracketF_data.pop('Rank')
bracketF_data.insert(0, 'Rank', first_column)
bracketF_data

,Rank,Name,DXP Gained,Total Lvl,Attack,Defense,Strength,Constitution,Ranged,Magic,...,Prayer,Cooking,Slayer,Construction,Agility,Divination,Fishing,Woodcutting,Mining,Runecrafting
0,1,Crideceon,23761860.0,2812,0.0,910858.5,0.0,447834.5,0.0,0.0,...,6752,0,160000,0,2550867,0,45000,0,75000,2963967
0,2,Deathmall,20129134.5,2820,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,431036,0,4591785,0,0,319395,0,0
0,3,wahtdaef,18852851.0,2850,113.0,0.0,113.0,74.5,0.0,1191.5,...,72,304844,954094,0,222069,300972,263319,1203045,509556,19461
0,4,VaticanCameo,15901688.0,2810,735.0,532937.5,734.5,351959.0,194496.0,358643.5,...,123248,57602,3812196,398774,215805,46287,144741,164256,108033,0
0,5,Mitsyangel,14973105.0,2842,5092.5,5092.5,58462.0,40526.5,0.0,17744.5,...,287228,89074,303434,434284,3942987,1179660,1070415,987765,443418,892128
0,6,garh1993,10242925.0,2816,0.0,0.0,0.0,0.0,0.0,0.0,...,0,107380,0,2064842,0,1015068,1419030,111846,226065,0
0,7,Foreverr420,4191513.0,2803,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,327,0,0,0
0,8,tuskawraith,3567431.5,2807,0.0,0.0,0.0,3995.0,21714.5,2519.5,...,205892,116000,0,6022,73755,224151,204750,269964,552186,9180
0,9,EllieRoses,99084.5,2841,0.0,85.0,0.0,56.0,170.0,0.0,...,0,0,0,0,0,0,0,0,0,0
0,10,Madhura01,52.5,2831,13.0,13.5,13.0,13.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
0,11,Tigervu,0.0,2836,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
0,12,MaleficentMe,0.0,2813,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
0,13,iLuthonic,0.0,2828,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
0,14,Hayki,0.0,2801,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [102]:

date = datetime.now().strftime("%m_%d_%Y")
date_string = "results_" + date + ".xlsx"
with pd.ExcelWriter(date_string) as writer:
    bracketA_data.to_excel(writer, sheet_name="Bracket A < 2k Total")
    bracketB_data.to_excel(writer, sheet_name="Bracket B 2k - 2.3k Total")
    bracketC_data.to_excel(
        writer, sheet_name="Bracket C 2.3k - 2.6k Total")
    bracketD_data.to_excel(
        writer, sheet_name="Bracket D 2.6k - 2.7k Total")
    bracketE_data.to_excel(
        writer, sheet_name="Bracket E 2.7k - 2.8k Total")
    bracketF_data.to_excel(
        writer, sheet_name="Bracket F 2.8k - 2850 Total")
    bracketG_data.to_excel(writer, sheet_name="Bracket G > 2850 Total")